.contact-headline{
  margin:5%;
  width: 100%;
  color:silver;
  background:rgb(50,0,0,0.9);
  border-radius: 10px;
  text-shadow: 3px 3px 20px  silver;
}

.contact-link{
  margin:5% 20px ;
  padding: 10px;
  min-width: 150px;
  background:rgb(50,0,0,0.9);
  border-radius: 25%;
}
.contact-link a{
  text-decoration: none;
}
.contact-title{
  color:silver;
  padding-bottom: 5px;
  text-shadow: 3px 3px 20px silver;
}
.glow{
    box-shadow: 0px 0px 10px 2px rgb(130,0,0);
    border-radius: 12px;
    padding:3px;
}
