@media screen and (min-width: 680px) {
	body {
		background-color: mediumSeaGreen;
	}
	.main{
		font-size:1.4em;
	}
	.logo{
		max-width:150px;
		max-height:150px;
	}
	.article {
		flex-direction: row;
		align-content:space-between;
	}
	.column-2 {
		width: 48%;
		padding: 0 1%
	}
	.section-1{
		flex-direction:row;
		justify-content:center;
	}
}
